* {
  box-sizing: border-box;
}

.march15172025Confere3 {
  width: 270px;
  height: 83px;
  line-height: 40px;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 0;

  .march15172025Confere {
    line-height: 40px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

  .march15172025Confere2 {
    line-height: 40px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
}
