* {
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-bottom: 200px;
  width: 1920px;
  height: 6766px;
  overflow: hidden;

  .rEadmore {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 85px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
  }

  .slavPetrovVicePresid3 {
    letter-spacing: 0;
    color: #484848;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .slavPetrovVicePresid2 {
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .slavPetrovVicePresid {
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 900;
  }

  .ellipse2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 50%;
    background: #d9d9d9;
    padding: 14px;

    .maskGroup2 {
      width: 316px;
      height: 316px;
    }
  }

  .group15 {
    position: relative;
    width: 516px;
    height: 651px;
  }

  .autoWrapper4 {
    position: relative;
    margin-top: -183px;
    margin-left: -2px;
    width: 1925px;
    height: 1111px;

    .frame {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: 183px 3px 666px 2px;
      width: 1925px;
      height: 1111px;
      background-image: url(../image/mmlegc0w-22xvof6.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        background: #961f12;
        padding: 15px 97px 14px;

        .wSdm2027 {
          width: 166px;
          height: 27px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Archivo Black", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .program {
          margin: 2px 0px 0px 157px;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }

        .arrowDropUp {
          margin-top: 2px;
          margin-left: 5px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .wSdmCup {
          margin: 2px 0px 0px 30px;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }

        .attending {
          margin: 2px 0px 0px 46px;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }

        .arrowDropUp2 {
          margin-top: 2px;
          margin-left: 8px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .arrowDropUp3 {
          margin-top: 2px;
          margin-left: 2px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .arrowDropUp4 {
          margin-top: 2px;
          margin-left: 6px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .sponsoring {
          margin: 2px 0px 0px 30px;
          width: 117px;
          height: 15px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }

        .arrowDropUp5 {
          margin-top: 2px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .venueTravel {
          margin: 2px 0px 0px 23px;
          width: 149px;
          height: 15px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }

        .search {
          display: flex;
          align-items: center;
          margin-top: 1px;
          margin-left: 298px;
          padding: 3px;
          overflow: hidden;

          .icon {
            border-radius: 50%;
            width: 18px;
            height: 18px;
          }
        }
      }

      .theWsdm2027BanquetHo {
        margin: 108px 0px 0px 545px;
        line-height: 48px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 900;
      }

      .the20thAcmInternatio {
        margin: 26px 0px 0px 611px;
        line-height: 24px;
        letter-spacing: 0;
        color: #eeeeee;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .vector1 {
      position: absolute;
      bottom: -68px;
      left: 0;
      width: 1922px;
      height: 453px;
    }

    .maskGroup {
      display: flex;
      position: absolute;
      bottom: -433px;
      left: 0;
      align-items: flex-start;
      justify-content: space-between;
      padding: 16px 96px 148px 138px;
      width: 1922px;
      height: 818px;
      background-image: url(../image/mmlegc0l-u4fa7il.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .autoWrapper3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .rectangle5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          background: #000000ba;
          padding: 26px 41px 42px 55px;

          .locationJockeyClubAu {
            letter-spacing: 0;
            color: #d9d9d9;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 26px;
          }

          .dateMarch10Th14Th2022 {
            letter-spacing: 0;
            color: #d9d9d9;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 26px;
            font-weight: 600;
          }

          .autoWrapper {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            padding-right: 32px;
            padding-left: 5px;

            .today {
              margin-top: 6px;
              width: 46px;
              height: 47px;
              overflow: hidden;
            }

            .dateMarch10Th14Th2023 {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              width: 562px;
              height: 54px;
              letter-spacing: 0;
              color: #d9d9d9;
              font-size: 26px;

              .dateMarch10Th14Th202 {
                letter-spacing: 0;
                color: #d9d9d9;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 26px;
                font-weight: 700;
              }
            }
          }

          .group6 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 10px;
            min-width: 695px;

            .locationOn {
              margin-top: 29px;
              width: 57px;
              height: 57px;
              overflow: hidden;
            }

            .locationJockeyClubAu2 {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              width: 594px;
              height: 118px;
              letter-spacing: 0;
              color: #d9d9d9;
              font-size: 26px;
            }
          }

          .autoWrapper2 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 5px;
            padding-right: 32px;
            padding-left: 8px;

            .mail {
              margin-top: 8px;
              width: 40px;
              height: 40px;
              overflow: hidden;
            }

            .contactWsdm2025L3SDe {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              width: 562px;
              height: 52px;
              letter-spacing: 0;
              color: #d9d9d9;
              font-size: 26px;
            }
          }
        }

        .rectangle52 {
          position: relative;
          margin-top: 26px;
          background: #c93c3cba;
          width: 791px;
          height: 322px;

          .rectangle6 {
            position: absolute;
            top: 0;
            left: 518px;
            background: #b32b2b;
            width: 273px;
            height: 322px;

            .rectangle11 {
              position: absolute;
              top: 11px;
              left: 12px;
              border: 3px solid #d54b4b;
              width: 250px;
              height: 299px;
            }

            .rectangle7 {
              position: absolute;
              top: 143px;
              left: 2px;
              background: #b32b2b;
              width: 271px;
              height: 34px;
            }
          }

          .weAreHappyToAnnounce {
            display: flex;
            position: absolute;
            top: 98px;
            left: 64px;
            align-items: center;
            width: 422px;
            height: 169px;
            letter-spacing: 0;
            color: #f5f5f5;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 26px;
          }

          .registrationIsOpen {
            display: flex;
            position: absolute;
            top: 11px;
            left: 64px;
            align-items: center;
            width: 562px;
            height: 117px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 28px;
            font-weight: 700;
          }
        }
      }

      .group3 {
        position: relative;
        width: 807px;
        height: 602px;

        .rectangle62 {
          position: absolute;
          top: 9px;
          left: 8px;
          background: #4d2c29;
          width: 799px;
          height: 534px;
        }

        .rectangle22 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: flex-start;
          background: #a92e20;
          padding: 42px 124px 453px 42px;
          width: 799px;
          height: 534px;

          .theWsdm2027BanquetHo2 {
            line-height: 39px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 900;
          }
        }

        .wSdmPronouncedWisdom {
          position: absolute;
          top: 109px;
          left: 44px;
          width: 712px;
          height: 493px;
          letter-spacing: 0;
          color: #eeeeee;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 28px;
        }
      }
    }

    .rectangle12 {
      position: absolute;
      bottom: -142px;
      left: 634px;
      background: #b32b2b;
      width: 322px;
      height: 37px;
      rotate: 90deg;
    }

    .rectangle13 {
      position: absolute;
      bottom: -245px;
      left: 648px;
      background: #961f12;
      width: 292px;
      height: 243px;
      rotate: 90deg;
    }

    .rectangle14 {
      position: absolute;
      bottom: -1775px;
      left: 532px;
      background: #961f12;
      width: 859px;
      height: 1926px;
      rotate: 90deg;
    }

    .gOtoregistration {
      display: flex;
      position: absolute;
      bottom: -155px;
      left: 689px;
      align-items: center;
      width: 238px;
      height: 85px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
      font-weight: 700;
    }
  }

  .keynoteSpeakers {
    margin: 438px 0px 0px 778px;
    line-height: 48px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 900;
  }

  .autoWrapper5 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 43px;
    padding-right: 86px;
    padding-left: 86px;

    .group9 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 71px 86px 87px;
      background-image: url(../image/mmlegc0l-pfvco4k.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .slavPetrovVicePresid4 {
        margin: 29px 0px 0px 6px;
        width: 321px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;
      }
    }
  }

  .callForPapers {
    margin: 194px 0px 0px 809px;
    line-height: 48px;
    letter-spacing: 0;
    color: #961f12;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 900;
  }

  .rectangle53 {
    margin-top: 41px;
    margin-left: 911px;
    background: #761c12;
    width: 88px;
    height: 10px;
  }

  .autoWrapper7 {
    position: relative;
    margin-top: 68px;
    margin-left: 139px;
    width: 1667px;
    height: 1396px;

    .ellipse12 {
      margin-top: 30px;
      border-radius: 50%;
      background: #d9d9d9;
      width: 10px;
      height: 10px;
    }

    .ellipse11 {
      border-radius: 50%;
      background: #d9d9d9;
      width: 10px;
      height: 10px;
    }

    .august72024AbstractD2 {
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
    }

    .august72024AbstractD {
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: 700;
    }

    .union {
      position: absolute;
      top: 584px;
      left: 1221px;
      width: 446px;
      height: 310px;
    }

    .union2 {
      position: absolute;
      top: 894px;
      left: -3px;
      width: 1670px;
      height: 58px;
    }

    .union3 {
      position: absolute;
      top: 584px;
      left: 909px;
      width: 445px;
      height: 313px;
    }

    .union4 {
      position: absolute;
      top: 584px;
      left: 572px;
      width: 442px;
      height: 313px;
    }

    .union5 {
      position: absolute;
      top: 584px;
      left: 307px;
      width: 395px;
      height: 313px;
    }

    .group12 {
      display: flex;
      position: absolute;
      right: -29px;
      bottom: -379px;
      flex-direction: column;
      align-items: flex-start;
      padding: 602px 153px 70px 141px;
      width: 1719px;
      height: 793px;
      background-image: url(../image/mmlegc0l-ft17yz3.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .line2 {
        background: #ffffff;
        width: 1425px;
        height: 1px;
      }

      .autoWrapper6 {
        position: relative;
        margin-top: 35px;
        margin-left: 551px;
        width: 293px;
        height: 85px;

        .rectangle112 {
          position: absolute;
          top: 17px;
          left: 17px;
          border-radius: 40px;
          background: #a92e20;
          width: 259px;
          height: 52px;
        }
      }
    }

    .weAreDelightedToOpen {
      position: absolute;
      top: 0;
      left: 0;
      width: 1667px;
      height: 1396px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }

    .allDeadlinesAre1159P {
      position: absolute;
      top: 906px;
      left: 554px;
      width: 537px;
      height: 29px;
      line-height: 29px;
      letter-spacing: 0;
      color: #d9d9d9;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .union6 {
      display: flex;
      position: absolute;
      top: 584px;
      left: -3px;
      flex-direction: column;
      align-items: flex-start;
      padding: 46px 119px 51px 54px;
      width: 395px;
      height: 313px;
      background-image: url(../image/mmlegc0m-r44w3pz.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .ellipse5 {
        margin-left: 59px;
        border-radius: 50%;
        background: #d9d9d9;
        width: 109px;
        height: 109px;
      }

      .august72024AbstractD3 {
        margin: 24px 0px 0px;
        width: 222px;
        line-height: 40px;
        letter-spacing: 0;
        color: #ffffff;
        font-size: 0;
      }
    }

    .attachFile {
      position: absolute;
      top: 651px;
      left: 132px;
      width: 70px;
      height: 70px;
      overflow: hidden;
      rotate: 41deg;
    }

    .ellipse6 {
      display: flex;
      position: absolute;
      top: 630px;
      left: 461px;
      align-items: center;
      border-radius: 50%;
      background: #d9d9d9;
      padding: 26px 25px 27px 28px;
      width: 109px;
      height: 109px;

      .fileText {
        width: 56px;
        height: 56px;
        overflow: hidden;
      }
    }

    .ellipse7 {
      display: flex;
      position: absolute;
      top: 630px;
      left: 765px;
      align-items: flex-start;
      border-radius: 50%;
      background: #d9d9d9;
      padding: 16px 18px 21px 19px;
      width: 109px;
      height: 109px;

      .notifications {
        width: 72px;
        height: 72px;
        overflow: hidden;
      }
    }

    .ellipse8 {
      display: flex;
      position: absolute;
      top: 630px;
      left: 1090px;
      align-items: center;
      border-radius: 50%;
      background: #d9d9d9;
      padding: 22px 19px 21px 24px;
      width: 109px;
      height: 109px;

      .videocam {
        width: 66px;
        height: 66px;
        overflow: hidden;
      }
    }

    .ellipse9 {
      display: flex;
      position: absolute;
      top: 630px;
      left: 1434px;
      align-items: flex-start;
      border-radius: 50%;
      background: #d9d9d9;
      padding: 18px 19px 21px 20px;
      width: 109px;
      height: 109px;

      .groups {
        width: 70px;
        height: 70px;
        overflow: hidden;
      }
    }

    .listOfTopics {
      position: absolute;
      top: 1070px;
      left: 687px;
      width: 267px;
      height: 48px;
      line-height: 48px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 900;
    }

    .rectangle15 {
      position: absolute;
      top: 1149px;
      left: 772px;
      background: #d9d9d9;
      width: 88px;
      height: 10px;
    }

    .line1 {
      position: absolute;
      top: 1296px;
      left: 118px;
      background: #ffffff;
      width: 1425px;
      height: 1px;
    }

    .group13 {
      display: flex;
      position: absolute;
      bottom: -149px;
      left: 226px;
      flex-direction: column;
      align-items: center;
      width: 10px;
      height: 210px;
    }

    .group14 {
      display: flex;
      position: absolute;
      bottom: -149px;
      left: 876px;
      flex-direction: column;
      align-items: center;
      width: 10px;
      height: 210px;
    }

    .august142024PapersDu {
      position: absolute;
      top: 763px;
      left: 402px;
      width: 243px;
      height: 83px;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-size: 0;
    }

    .october2024Notificat {
      position: absolute;
      top: 763px;
      left: 714px;
      width: 212px;
      height: 83px;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-size: 0;
    }

    .december82024CameraR {
      position: absolute;
      top: 763px;
      left: 1019px;
      width: 272px;
      height: 83px;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-size: 0;
    }

    .march15172025Confere {
      position: absolute;
      top: 763px;
      left: 1360px;
      width: 270px;
      height: 83px;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-size: 0;
    }

    .wSdmProceedingsArePu {
      position: absolute;
      top: 1193px;
      left: 376px;
      width: 889px;
      height: 58px;
      line-height: 58px;
      letter-spacing: 0;
      color: #d9d9d9;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }

    .webSearchWebMiningAn {
      position: absolute;
      bottom: -215px;
      left: 273px;
      width: 563px;
      height: 293px;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }

    .intelligentAssistant {
      position: absolute;
      bottom: -215px;
      left: 922px;
      width: 563px;
      height: 293px;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .autoWrapper8 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 506px;
    padding-right: 142px;
    padding-left: 152px;

    .line3 {
      margin-top: 27px;
      background: #961f12;
      width: 570px;
      height: 4px;
    }

    .programChairs {
      margin: 0px 0px 0px 73px;
      line-height: 48px;
      letter-spacing: 0;
      color: #961f12;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 900;
    }

    .line4 {
      margin-top: 27px;
      margin-left: 64px;
      background: #961f12;
      width: 599px;
      height: 4px;
    }
  }

  .autoWrapper9 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 33px;
    padding-right: 113px;
    padding-left: 122px;

    .polygon3 {
      position: absolute;
      top: 23px;
      left: 2px;
      width: 81px;
      height: 40px;
      rotate: -45deg;
    }

    .group8 {
      display: flex;
      position: absolute;
      top: 28px;
      left: 29px;
      flex-direction: column;
      align-items: flex-start;
      padding: 58px 86px 72px 57px;
      width: 487px;
      height: 623px;
      background-image: url(../image/mmlegc0l-xjb325o.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .slavPetrovVicePresid5 {
        margin: 29px 0px 0px 2px;
        width: 321px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;
      }
    }

    .group16 {
      position: relative;
      margin-left: 54px;
      width: 516px;
      height: 651px;
    }

    .group17 {
      position: relative;
      margin-left: 83px;
      width: 516px;
      height: 651px;
    }
  }

  .autoWrapper10 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 131px;
    padding-right: 441px;
    padding-left: 422px;

    .line6 {
      margin-top: 29px;
      background: #961f12;
      width: 300px;
      height: 4px;
    }

    .generalChairs {
      margin: 0px 0px 0px 84px;
      line-height: 48px;
      letter-spacing: 0;
      color: #961f12;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 900;
    }

    .line5 {
      margin-top: 29px;
      margin-left: 66px;
      background: #961f12;
      width: 300px;
      height: 4px;
    }
  }

  .autoWrapper11 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 36px;
    padding-right: 412px;
    padding-left: 393px;
  }

  .autoWrapper12 {
    position: relative;
    margin-top: 47px;
    margin-left: 803px;
    width: 293px;
    height: 85px;

    .rectangle10 {
      position: absolute;
      top: 17px;
      right: -15px;
      border-radius: 40px;
      background: #a92e20;
      width: 323px;
      height: 52px;
    }
  }

  .autoWrapper14 {
    position: relative;
    margin-top: 89px;
    width: 1923px;
    height: 376px;

    .maskGroup3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 1923px;
      height: 376px;
    }

    .rectangle16 {
      position: absolute;
      top: -1908px;
      left: 15px;
      background: #f2f2f2;
      width: 1893px;
      height: 1923px;
      rotate: 90deg;
    }

    .rectangle18 {
      position: absolute;
      bottom: -770px;
      left: 773px;
      background: #de5141ab;
      width: 371px;
      height: 1923px;
      rotate: 90deg;
    }

    .rectangle17 {
      position: absolute;
      top: 245px;
      left: 848px;
      border: 2px solid #ffffff;
      border-radius: 40px;
      background: #a92e20;
      width: 203px;
      height: 52px;
    }

    .ifYouHaveAnyQuestion {
      position: absolute;
      top: 120px;
      left: 728px;
      width: 463px;
      height: 62px;
      line-height: 62px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 26px;
      font-weight: 700;
    }

    .contactUs {
      display: flex;
      position: absolute;
      top: 228px;
      left: 803px;
      align-items: center;
      justify-content: center;
      width: 293px;
      height: 85px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 26px;
      font-weight: 700;
    }

    .group4 {
      display: flex;
      position: absolute;
      bottom: -176px;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 1920px;
      height: 182px;

      .rectangle3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background: #961f12;
        padding-top: 41px;
        padding-bottom: 1px;

        .wSdm20272 {
          margin: 0px 0px 0px 833px;
          line-height: 48px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 900;
        }

        .rectangle4 {
          margin-top: 37px;
          background: #4a140e;
          width: 1920px;
          height: 12px;
        }
      }

      .autoWrapper13 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 19px;
        padding-right: 109px;
        padding-left: 85px;

        .a2027Wsdm2027AllRigh {
          line-height: 24px;
          letter-spacing: 0;
          color: #a02437;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .contactUs2 {
          margin: 0px 0px 0px 677px;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .imprint {
          margin: 0px 0px 0px 62px;
          line-height: 24px;
          letter-spacing: 0;
          color: #a02437;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .privatePolicy {
          margin: 0px 0px 0px 68px;
          line-height: 24px;
          letter-spacing: 0;
          color: #a02437;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }
  }
}
