* {
  box-sizing: border-box;
}

.august142024PapersDu3 {
  width: 243px;
  height: 83px;
  line-height: 40px;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 0;

  .august142024PapersDu {
    line-height: 40px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

  .august142024PapersDu2 {
    line-height: 40px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
}
